@charset "UTF-8";

:root {
    --fundo: #f4f4f4;
    --fonte-principal: #000000;
    --fonte-invertida: #ffffff;
    --fonte-secund치ria: #3b8791;
    --fundo-decoracao: #58afba;
    --fundo-mais-suave: #d9e9ec;
    --fundo-cinza: #cccccc;
    --fundo-vermelho: #ff0000;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--fundo);
    display: flex;
    flex-direction: column;
}

header {
    color: var(--fonte-secund치ria);
    font-size: 1.5em;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.192);
    flex: 1;
}

.filtros {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background-color: var(--fundo-decoracao);
    color: var(--fonte-invertida);
    font: bold 1.5em arial;
    margin: 5px 5px 0px 5px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 1;
    flex-grow: 1;
    transition: .3s ease;
}

.btn:hover {
    background-color: var(--fundo-mais-suave);
    color: var(--fonte-secund치ria);
}

.novatarefa {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#novatarefa {
    font-size: 1.5em;
    border: solid 1px rgba(128, 128, 128, 0.233);
    border-radius: 12px;
    padding: 20px;
    width: 70vw;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.192);
    display: flex;
}

.tarefas {
    display: flex;
    flex-direction: row;
    width: 100%;
}

ul {
    width: 100%;
    padding: 10px;
}

li {
    background-color: var(--fundo);
    border-radius: 8px;
    font: normal 1.2em arial;
    list-style-type: none;
    padding: 8px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: .3s ease;
}

li:hover {
    background-color: var(--fundo-cinza);
}

.pointer{
    cursor: pointer
}

span.pointer {
    color: rgb(80, 80, 80);
    font-size: 1.2em;
    margin-left: 5px;
    padding: 5px;
    flex: 1;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

li button {
    border: solid 1px rgba(128, 128, 128, 0.285);
    border-radius: 5px;
}

li button:hover {
    background-color: var(--fundo-vermelho);
    color: var(--fonte-invertida);
}

footer {
    text-align: center;
    font-size: .9em;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

a {
    text-decoration: none;
    color: var(--fonte-secund치ria);
}

a:hover {
    text-decoration: underline;
}